dash==1.12.0
dash-bootstrap-components==0.10.0
geopandas==0.7.0
great-expectations==0.11.5
json5==0.9.4
jupyter==1.0.0
jupyterlab==2.2.10
jupyterlab-server==1.1.1
pandas==1.0.3
numpy==1.18.0
Pillow==7.1.2
plotly==4.6.0
pyarrow==0.17.1
python-dotenv==0.13.0
PyYAML==5.3.1
redis==3.5.2
requests==2.23.0
scikit-learn==0.22.2.post1
scipy==1.4.1
Shapely==1.7.0
statsmodels==0.11.1
tabula-py==2.1.0
tabulate==0.8.7
tqdm==4.46.0
world-bank-data==0.1.3
